#discardChangesCont{ 
    width: 90%;
    height: auto;

    font-family: Arial; 
    font-size: 15px;
    color: gray; 
    
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;

    cursor: default;
}

#discardChangesCont:hover{ 
    text-decoration: underline;
}