#deleteAccountBtn{
  width: 40px;
  height: 40px;

  background: transparent;

  border-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#deleteAccountIcon { 
  width: 32px;
  height: 32px;
}

  #deleteAccountIcon:hover { 
    filter: saturate(2.3);
  }

#deleteAccountBtn:focus{
  outline: none;
}

#deleteAccBtnText {
  font-family: Arial;
  font-size: 15px;
  color: white;

  margin-left: 5px;
}
