#deleteAccountBtn{
  width: 150px;
  height: 40px;

  margin-top: 20px;

  background: red;

  border-width: 1.5px;
  border-style: solid;
  border-color: red;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#deleteAccountBtn:hover{
  background: linear-gradient(23deg, #FF5F5F, red);
}

#deleteAccountBtn:focus{
  outline: none;
}

#deleteAccBtnText {
  font-family: Arial;
  font-size: 15px;
  color: white;

  margin-left: 5px;
}
