.project-outer-container {
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

    .project-outer-container:hover {
        background: #e0e0e0;
    }

.project-info-photo {
    margin-left: 10px;
    margin-right: 5px;
}

.project-info {
    width: 240px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.project-name-info {
    margin-top: 5px;    
    font-size: 24px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-creation-date {
    font-size: 13px;
    color: #909090;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}