#documentStorageContainer { 
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column; 
}

    #documentStorageContainer > .react-contextmenu-wrapper { 
        height: 100%;
        max-height: 100%;

        overflow-y: scroll;
    }

    #documentStorageContainer > .react-contextmenu-wrapper::-webkit-scrollbar { 
        width: 0px;
    }

.documentFileSystemOutterCont {
    height: 100%;

    background: #f9f9f9;
}

.documentFileSystemSlideLeft { 
    width: 700px;
    animation: documentFileSystemSlideLeftAnimation 0.3s linear forwards;
}

@keyframes documentFileSystemSlideLeftAnimation { 
    from {
        width: 700px;
    }

    to { 
        width: 0px;
    }
}

.documentFileSystemSlideRight { 
    animation: documentFileSystemSlideRightAnimation 0.3s linear forwards;
}


@keyframes documentFileSystemSlideRightAnimation { 
    from {
        width: 0;
    }

    to { 
        width: 700px;
    }
}