@media screen and (max-width: 560px){ 
    #headerOutterContainer{ 
        width: 100%;
        height: auto;
        
        display: flex;
        flex-direction: column;
        justify-content: left;


        box-sizing: border-box;
    
        background: red
    }
    
    #headerInnerContainer{
        width: 100%;
        height: 100%;
        background: black;

        display:  flex;
        flex-direction: column;

        align-items: center;
    }  
    
    #titleContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 35px;

        margin-left: 15px;
    }
    
    #headerLeftPart{ 
        display: flex; 
        flex-direction: row; 
        width: 100%;
        height: 60px;

        align-items: center;
    }

    .headerVertSeparator {
        display: none;
    }

    #menuOptionsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    #headerMiddleContaier{ 
        display: block;
        flex-grow: 1;
    }

    .headerMenuOption {
        width: 100%;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
    }

    .headerMenuOption:nth-child(1){ 
        background: #141414;
    }
    .headerMenuOption:nth-child(2){ 
        background: #242424;
    }
    .headerMenuOption:nth-child(3){ 
        background: #343434;
    }
    .headerMenuOption:nth-child(4){ 
        background: #444444;
    }
}



@media screen and (min-width: 560px){ 
    #headerOutterContainer{ 
        width: 100%;
        height: 60px;
        
        display: flex;
        flex-direction: row;
        justify-content: left;
    
        padding-left: 10%;

        box-sizing: border-box;
    
        background: black
    }
    
    #headerInnerContainer{
        width: auto;
        height: 100%;
        background: transparent;
        display:  flex;
        flex-direction: row;
        flex-wrap:  wrap;
        align-items: center;
    }    

    #titleContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 35px;
    }

    #menuOptionsContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .headerVertSeparator {
        background: #ffffff;
        width: 2px;
        height: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .headerMenuOption {
        width: auto;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        opacity: 0;
    }
}

    .headerVertSeparator.vertHeaderRotation {
        animation-name: vertSeparatorRotate;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

@keyframes vertSeparatorRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(195deg);
    }
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #ffffff;
    font-family: "Courier New";
    letter-spacing: 3px;
    font-size: 30px;
    cursor: default;
    visibility: visible;
    opacity: 0;
}

    .headerTitle.fadeIn {
        animation-name: titleFadeIn;
        animation-duration: 1s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
    }

@keyframes titleFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

    .headerMenuOption.headerMenuItemFadeIn {
        animation-name: menuItemFadeIn;
        animation-duration: 1s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
    }

@keyframes menuItemFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.headerMenuOptionText {
    margin-left: -5px;
}

    .headerMenuOptionText.menuItemTextslideIn {
        animation-name: menuOptionTextSlideIn;
        animation-duration: 0.5s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
    }

@keyframes menuOptionTextSlideIn{
    from{
        margin-left: -5px;
    }

    to{
        margin-left: 5px;
    }
}
