.singleUserActivityCont{ 
    width: 16px;
    height: 16px;

    background-color: transparent;

    border-style: solid;
    border-radius: 5px;
    border-color: #e0e0e0;
    border-width: 1px;

    display: flex;
    justify-content: center; 
    align-items: center;

    position: relative;
}

    .singleUserActivityCont:hover{
        background-color: #e0e0e0;  
    }

    .singleUserActivityCont:hover .userActivityToolTip{
        visibility:  visible;  
    }

.activityBall{
    background-color: #F97646;
}

.userActivityToolTip{ 
    visibility: hidden;
    width: 30px;
    height: 20x;

    background-color: white;
    color: gray;
    text-align: center;
    font-size: 15px;

    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #F97646;
    z-index: 2000;

    padding: 5px 0;

    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -15px;
}

    .userActivityToolTip::after{ 
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: gray transparent transparent transparent;
    }