.my-templates-container {
    width: 300px;
    margin-top: 30px;
    height: 90%;
    overflow-y: auto;
}

.create-new-my-template-icon {
    margin-right: 10px;
}

.create-new-my-template {
    width: 95%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 2.5%;

    border-radius: 5px;
}
    .create-new-my-template:active {
        transform: scale(0.965);
    }

    .create-new-my-template:hover {
        box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    }

    .create-new-my-template:hover .create-new-my-template-text {
        color: #F97646;
    }

.create-new-my-template-text {
    font-size: 16px;
    color: #909090;
}