#errorComponentOutter{ 
    width: 100%;
    height: 100%;

    padding: 10px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#errorComponentInnerCont{ 
    max-width: 90%;
    max-height: 90%;

    overflow: hidden;
}

#errorTitleCont{ 
    width: 40px;

    font-family: Arial;
    font-size: 14px;
    color: red;
    text-align: center;

    position: relative;
    
    top: 9px;
    left: 10px;

    background: #f9f9f9;
    z-index: 2;
}

#errorMessageCont{ 
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: transparent;

    border-style: solid;
    border-color: red;
    border-width: 0.8px;
    border-radius: 5px;

    font-family: Arial;
    font-size: 14px;
    color: gray;

    overflow: hidden;

    padding: 5px 10px 5px 10px;
}