#profileDataContainer{
  width: 100%;
  height: 100%;
  background:  transparent;
  display: flex;
  flex-direction: column;
}

#profileDataHeaderCont{
  display: flex;
}

#profileDataContentCont{ 
  height: 90%;
  width: 100%;

  background-color: transparent;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#profileDataContentCont{ 
  margin-top: 20px;
}
#profileDataContentCont .textBlock{ 
  margin-bottom: 15px;
}

#saveOrDiscardBlock{ 
  margin-bottom: 40px;
}

#discardCont{ 
  margin-top: 10px;
}