#userActivitiesCont{ 
    height: 180px;
    width: 500px;
    overflow-y: hidden;
    overflow-x: scroll;
    
    display: flex;

    box-sizing: border-box;

    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;

    background: #f9f9f9;

    border-style: none; 
    border-radius: 10px;
}

#userActivitiesCont::-webkit-scrollbar{ 
    height: 5px;
}   

#userActivitiesCont::-webkit-scrollbar-thumb{
    background: orangered;
    border-radius: 2px;
}

.monthActivityCont:nth-child(n){ 
    margin-right: 5px;
}

#activityHeader{ 
    font-family: Arial; 
    color: orangered;
    font-size: 20px;
}