#documentStructureHeaderCont { 
    width: 100%;
    height: 50px;

    background: #f3f3f3;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-left: 5px;
    position: relative;
}

.documentStructureSearch { 
    width: 20px;
    height: 20px;
}

.documentStructureSearch:hover { 
    filter: saturate(3)
}

#documentStructureHeaderInput { 
    position: absolute;
    top: 2px;
    left: -2px;

    height: 25px;
    width: 270px;

    box-sizing: content-box;

    border-style: none;
    border-radius: 5px;

    font-size: 14px;
    color: #646464;

    opacity: 0;
}

    #documentStructureHeaderInput:focus { 
        outline: none;
    }

    .documentStructureHeaderInputFadeIn { 
        display: block;
        animation: documentsHeaderSearchFadeIn 0.2s linear forwards;
    }

    @keyframes documentsHeaderSearchFadeIn { 
        from { 
            opacity: 0;
        }

        to { 
            opacity: 1;
        }
    }

    .documentStructureHeaderInputFadeOut { 
        animation: documentsHeaderSearchFadeOut 0.2s linear forwards;
        display: none;
    }

    @keyframes documentsHeaderSearchFadeOut { 
        from { 
            opacity: 1;
        }

        to { 
            opacity: 0;
        }
    }

#openedTreeItemContainer { 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 

    height: 100%;
    width: 230px; 

    margin-left: 10px;

    display: flex;
    flex-direction: column; 
    align-items: baseline;
    justify-content: center;
}

#openedTreeItemDescription { 
    color: #848484;
    font-size: 11px;
}

#openedTreeItemName { 
    color: black;
    font-size: 13px;
}

.fillContainer { 
    flex-grow: 1;
}

#searchIconContainer { 
    width: 35px;
    height: 35px;

    background-color: transparent;

    margin-right: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

    #searchIconContainer > img { 
        width: 35px;
        height: 35px;
    }
