#contentContainer{
  width: 100%;
  height: 100%;
  background: white;
  flex-grow: 1;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
} 

#workplaceContainer{ 
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  overflow-y: scroll;
}

#workplaceContainer::-webkit-scrollbar{ 
  width: 0px;
}
