#headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;

    opacity: 0;

    animation-name: titleFadeIn;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

    @keyframes titleFadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

#headerTitleText { 
    color: #ffffff;
    font-family: "Courier New";
    letter-spacing: 3px;
    font-size: 30px;
    cursor: default;
    visibility: visible;
}

