#outterContainer{
  width: 100%;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 430px){ 
  #entrySentenceContainer{ 
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    padding-top: 50px;
    
    align-items: center;
  }

  #authContentBlock{
    width: 80%;

    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .inspiringWord{
    font-family: Arial;
    text-align: left;
    color: orangered;

    text-align: center;
  }
  

  .inspiringWord:nth-child(1){
    font-size: 3em;
  }
  .inspiringWord:nth-child(2){
    font-size: 4em;
  }
  .inspiringWord:nth-child(3){
    font-size: 5em;
  }
}

@media screen and (min-width: 430px){ 
  #authContentBlock{
    width: 80%;

    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  #entrySentenceContainer{ 
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    align-items: center;

    padding-top: 50px;
  }

  .inspiringWord{
    font-family: Arial;
    text-align: left;
    color: orangered;
  }
  
  
  .inspiringWord:nth-child(1){
    font-size: 6em;
  }
  .inspiringWord:nth-child(2){
    font-size: 7em;
  }
  .inspiringWord:nth-child(3){
    font-size: 8em;
  }
}

@media screen and (min-width: 1024px){ 
  #entrySentenceContainer{ 
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    padding-top: 50px; 

    align-items: center;
  }
}

@media screen and (min-width: 1224px){ 
  #authContentBlock { 
    width: 979.2px;

    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  #entrySentenceContainer{ 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    padding-top: 50px 
  }
}

@media screen and (min-width: 1824px){ 
  #entrySentenceContainer{ 
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    align-items: baseline;

    padding-top: 50px 
  }

  #authContentBlock { 
    width: 979.2px;

    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .inspiringWord{
    font-family: Arial;
    text-align: left;
    color: orangered;
  }
  
  
  .inspiringWord:nth-child(1){
    font-size: 6em;
  }
  .inspiringWord:nth-child(2){
    font-size: 7em;
  }
  .inspiringWord:nth-child(3){
    font-size: 8em;
  }
}