#signOutBtn{
  width: 150px;
  height: 40px;

  margin-top: 50px;

  background: white;

  border-width: 1px;
  border-style: solid;
  border-color: orange;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#signOutBtn:focus{
  outline: none;
}

#signOutBtn:hover{
    border-color: orangered;
}

#signOutBtn:hover #signOutBtnImgContainer{
  background: url("../../../img/signOutIconBtn.png");
}
#signOutBtn:hover #signOutBtnText{
    color: orangered;
}
#signOutBtnImgContainer{
  background: url("../../../img/signOutBtnIcon.png");
  width: 24px;
  height: 24px;
}

#signOutBtnText{
  font-family: Arial;
  font-size: 17px;
  color: orange;

  margin-left: 5px;
}
