#signOutBtn{
  width: 40px;
  height: 40px;

  background: transparent;

  border-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

  #signOutBtn:focus{
    outline: none;
  }

.signOutIcon { 
  width: 28px;
  height: 28px;
}

.signOutIcon:hover { 
  filter: invert(38%) sepia(4%) saturate(7%) hue-rotate(316deg) brightness(91%) contrast(82%);
}