.contentEditableSpan { 
    width: 95%;
    height: auto; 
    overflow: auto;
    -webkit-line-break:normal;
    line-break: normal;

    background: transparent; 

    border-style: none;
}

    .contentEditableSpan:focus { 
        outline: none;
    }