.monthNameCont{ 
    font-family: Arial;
    font-size: 17px;
    color: gray;
    margin-left: 5px;

    cursor: default;
    z-index: 1;
}

.monthActivityCont{ 
    margin-top: 10px;
}

.dayName{ 
    font-family: Arial; 
    color: gray;
    font-size: 13px;

    cursor: default;
}