.create-new-element-outer-cont{ 
    width: 100%;
    height: 30px;
    background-color: transparent;

    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-left: 2.5%;
}

    .create-new-element-outer-cont:hover {
        opacity: 1;
    }

.create-new-element-icon {
    width: auto; 
    height: 100%;

    color: gray;
    font-size: 15px;

    margin-top: 5px;
    margin-left: 5px;
}

    .create-new-element-icon:hover {
        color: #aaaaaa;
    }