.profiletextBoxCont{
  width: 90%;
  margin-left: 5%;
  height: auto;
  background-color: transparent;
}

.propertyValueInput{
  width: 90%;
  height: 30px;

  border-style: solid;
  border-width: 1px;
  border-color: orange;
  border-radius: 5px;

  margin-top: 5px;

  padding-left: 5px;
  padding-right: 5px;
  font-family: Arial;
  font-size: 16px;
}

.propertyDescription{ 
  font-family: Arial;
  font-size: 14px;
  color: gray;

  margin-top: 5px;

  cursor: default;
}

.propertyNameText{
  font-family: Arial;
  font-size: 16px;
  color: black;

  cursor: default;
}

.propertyValueInput:focus{
  outline: none;

  border-color: orangered;
}
