#documentsHeaderOutterContainer{ 
    width: 100%;
    height: 30px;

    background: white;

    box-sizing: border-box;

    position: relative;
}

#documentsHeaderScrollableItems { 
    width: 100%;
    height: 30px;

    background: white;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: baseline;

    overflow: hidden;

    scrollbar-width: 0px;

    position: relative;
}

#documentsHeaderInnerContainer{ 
    width: auto; 
    height: 20px;

    display: flex;
    flex-direction: row;
}