.careerStageContatiner{ 
    width: 90%;

    margin-top: 30px;
    margin-left: 5%;

    padding-bottom: 10px;

    border-style: solid;
    border-width: 0px;
    border-bottom-width: 0.5px;
    border-color: lightgray;
}

.careerStageTopLine { 
    width: 100%;

    display: flex;
    flex-direction: row;
}

    .careerStageContatiner:nth-child(1){ 
        margin-top: 5px;
    }

.careerStageJobName{ 
    font-family: Arial;
    color: orangered;
    letter-spacing: 0.1px;
    font-size: 19px;

    flex-grow: 1;
}

.careerStageIcon { 
    width: 20px;
    height: 20px;

    margin-left: 5px;
}

.careerStageCompanyName{ 
    font-family: Arial;
    color: black;
    letter-spacing: 0.1px;
    font-size: 14px;

    margin-top: 5px;

    display: flex;
    flex-direction: row;
}

.careerStageDescription{ 
    font-family: Arial;
    color: #c9c9c9;
    letter-spacing: 0.1px;
    font-size: 14px;

    margin-top: 5px;
}