@media screen and (min-width: 400px){ 
    #userActivityOutterContainer{ 
        flex-grow: 1;
    
        display: flex;
        flex-direction: column;
    }
    
    #userActivitiesCont{
        height: 200px;
        overflow-y: hidden;
        overflow-x: scroll;
        
        display: flex;
    
        box-sizing: content-box;
    
        background: #f9f9f9;
    
        border-style: none; 
    }
    
    #userActivitiesCont::-webkit-scrollbar{ 
        height: 5px;
    }   
    
    #userActivitiesCont::-webkit-scrollbar-thumb{
        background: #F97646;
        border-radius: 2px;
    }
    
    .monthActivityCont:nth-child(n){ 
        margin-right: 5px;
    }
    
    #activityHeader{ 
        font-family: Arial; 
        color: #F97646;
        font-size: 20px;
    }
}

@media screen and (max-width: 400px){ 
    #userActivityOutterContainer{ 
        display: none;
    }
}