#appLoaderContainer{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items:center;
}

div, p, span { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;   
    -ms-user-select: none;      
    user-select: none;  

    font-family: Arial;
}

input { 
    font-family: Arial;
    cursor: default;
}

input:disabled { 

}