.viewUserPageBtn{ 
    width: 80px;
    height: 30px;

    background: gray;

    border-style: solid;
    border-radius: 7px;
    border-color: gray;
    border-width: 1px;
    
    margin-left: 10px;

    font-family: Arial;
    color: white;
}

.viewUserPageBtn:focus{ 
    outline: none;
}

.viewUserPageBtn:hover{ 
    background: linear-gradient(-120deg,#707070, #808080)
}