@media screen and (min-width: 400px){ 
  #header{
    width: 100%;
    height: 50px;
    background: #F97646;
    display: flex;
    flex-direction: row;
  }
  
  #menuItemsContainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1%;
  }

  #topButtons { 
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 400px){ 
  #header{
    width: 100%;
    height: auto;
    background: #F97646;
    display: flex;
    flex-direction: row;
  }
  
  #menuItemsContainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    flex-wrap: wrap;
  }

  #topButtons { 
    visibility: collapse;
  }
}
